* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 90vh;
}

.panel {
    height: 90vh;
    flex: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 50px;
    margin: 10px;
    transition: flex 0.7s ease-in;
    top: 30px;
}
.panel h3{
    position: absolute;
    font-size: 1.5rem;
    color:#fff;
    bottom: 40px;
    left: 30px;
    transition: opacity 0.3s ease-in 0.4s;
}
.panel.active{
    flex: 5;
}
.panel.active h3{
    opacity: 1;
}